/*产品详情页样式*/
body {
    color: #333;
    background: #fff;
	font-family: "Arial","Microsoft Yahei","微软雅黑","宋体",sans-serif;
}
#productDetial{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
#product_detial{
	width: 100%;
    height: 100%;
    padding: 10px 30px;
    /*overflow-y: scroll;*/
}
.productDetial .border{
	border-top:1px solid #ccc;
	margin: 20px 0;
}
.form-control{
	display: table-column;
}
.product_detial{
	overflow: hidden;
	margin: 10px;
}
.tax_box{
	display: table;
}
.product_detial .head{
	width: 100%;
	overflow: hidden;
}
.product_detial .head h4{
	float: left;
	padding:10px;
	width: 500px;
	border-bottom: 1px solid #ccc;
}
.product_detial .head a{
	display: block;
	float:right;
	padding:5px 20px;
}
.product_info{
	width: 100%;
	padding-left: 60px;
    overflow: hidden;
}
.product_info div{
	width: 100%;
	overflow: hidden;
}
.product_info div p{
	float: left;
}
.product_info input,
.product_info select{
	width: 300px;
}
.product_info .product_info_left{
	width: 100px;
	margin-right: 80px;
	text-align: right;
}
.product_info div p img{
	width: 200px;
	height: 200px;
	margin-right: 10px;
	vertical-align: bottom;
}
.product_info input[type="checkbox"],
.product_info input[type="radio"]{
	width: 20px;
}
.product_info .select_box{
	margin-left:80px;
}
label{
	font-weight: normal;
	width: 120px;
}
.product_item label{
	width: auto;
	margin-right:20px;
}
.product_item .product_scene{
	margin-right: 30px;
}
.product_info .plan{
	width: 80%;
	height: 200px;
	margin: 5px auto;
	border: 1px solid #ccc;
}
.product_item .product_free{
	margin-right: 60px;
	width:150px;
	text-align: right;
}
.product_item .product_free span{
	text-align: right;
}

.text_center{
    text-align:center;
}
.ellipsis{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.free_tip{
	color:#5173FD;
}
.free_val{
	width:100px !important;
}
.pop-box .product_item .title{
	width:100px;
}
.operation a{
	cursor: pointer;
}
.table > tbody > tr > td{
	vertical-align: middle;
    word-break: break-all;
}
.free_type_box{
	margin: 0 30px 40px 120px;
    border: 1px solid rgb(204,204,204);
    width: auto !important;
}
.free_type_box .name{
	width: 150px;
	text-align:left;
	color:#5173FD;
}
.table > thead > tr > th{
	background: rgb(242,247,248);
}
.start_age,
.age_type,
.end_age{
	width: 70px !important;
}

.num_title{
	padding: 10px;
    font-weight: bold;
    font-size: 15px;
	overflow:hidden;
}
.num_title label{
	border-bottom: 1px solid #ccc;
    padding: 0 15px;
}
.num_title .item_del{
	float:right;
	cursor:pointer;
}
.padding0{
	padding:0;

}
.padding0 .start_age,
.padding0 .age_type,
.padding0 .end_age{
	width: 100% !important;
}	
/*无数据时*/
.noData{
	background:#fff;
	text-align:center;
	font-size:18px;
	color:#7C7D84;
	padding:20px 0;
}
.modal{
	    overflow-y: auto;
}

#preview .even{
	background:rgb(242,242,242);
}